.orgSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: #6278F7;
    font-family: 'Prata', serif;
    font-weight: 400;
    padding-bottom: 24px;
    font-size: 40px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 4px solid #6248F7;
}

.orgSection img {
    position: absolute;
    right: 30%;
}